body,.header {
  background-color: #f5f5f5;
}
.History {
  scrollbar-width: none;
}
.old {
  background-color: #e4e4f8;
}
.recent {
  background-color: #2f62ff;
  color: white;
}
@media (max-width: 500px) {
  .card {
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
  }

}
@media (max-width: 768px) {
  .homepage{
    height: 100vh;
  }

}
.active{
  color: #2f62ff;
}
.favourite{
  height: 80vh;
}